<%- include('partials/header'); -%>
<form action="/spaces" method="post">
  <label for="name">Name </label>
  <input type="text" name="name" id="" />
  <label for="city">City </label>
  <input type="text" name="city" />
  <label for="state">State </label>
  <input type="text" name="state" />
  <button type="submit">Create</button>
</form>
<%- include('partials/footer'); -%>
